*.pdf
*.tex
*~
*.yang
ox-rfc.el
idnits
ox-rfc.el
draft-*-location.xml
test-xml-example.xml
draft/
tests/
publish/*-ietf-*.html
publish/*-ietf-*.pdf
publish/*-hopps-*.html
publish/*-hopps-*.pdf
publish/*.html
publish/*.pdf